@layer tokens {
    :where(:root, :host) {
  --colors-primary: rgb(53, 53, 54);
  --colors-secondary: rgb(207, 252, 229);
  --colors-error: rgb(255, 138, 112);
  --font-sizes-sm: 1.5rem;
  --font-sizes-md: 2.5rem;
  --font-sizes-lg: 4rem;
  --sizes-container: 65rem;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px
}
  }
  